body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

#menu-container {
  position: absolute;
  z-index: 1;
}

#play-text {
  cursor: pointer;
  font-size: 24px;
}

#game-container {
  width: 60em;
  height: 35em;
  border: 5px solid black;
  position: relative;
  overflow: hidden;
}

#cube {
  width: 3em;
  height: 3em;
  background-color: blue;
  position: absolute;
  left: 0;
  top: 0;
}

.hidden {
  display: none;
}
